<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Time Tracker UI</title>
	<link href="css/angular-bootstrap.css" rel="stylesheet">
	<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
	</style>
</head>

<body ng-app="tracker">
	<div class="container">
		<div ng-controller="timeCntrl" ng-cloak class="ng-cloak">
			<h3>Record time</h3>
			<form name="addFrm" ng-submit="addTime()" >
				<div>
					<label for="addStart">Start: </label>
					<input type="text" name="addStart" id="addStart" ng-model="addStart" placeholder="dd.MM.yyyy HH:mm" datepicker required />
				</div>
				<div>
					<label for="addEnd">End: </label>
					<input type="text" name="addEnd" id="addEnd" ng-model="addEnd" placeholder="dd.MM.yyyy HH:mm" datepicker required />
				</div>
				<div>
					<label for="addEmail">Email: </label>
					<input type="email" name="addEmail" id="addEmail" ng-model="addEmail" required />
				</div>
				<div>
					<button ng-disabled="addFrm.$invalid||addButton.disabled">Track</button>
					<div ng-show="addButton.disabled">Saving...</div>
					<span ng-show="result.ok">Done</span>
					<span ng-show="result.error">Time could not be tracked</span>
				</div>
			</form>
			<h3>Search by email</h3>
			<form name="searchFrm" ng-submit="searchTime()" >
				<input type="email" name="searchEmail" ng-model="searchEmail" required />
				<button ng-disabled="searchFrm.$invalid||searchButton.disabled">Search</button>
			</form>
			<div ng-show="!times[0]&&!searchButton.disabled">No tracking information</div>
			<div ng-show="searchButton.disabled">Searching...</div>
			<div ng-hide="!times[0]||searchButton.disabled">Email: {{times[0].email}}</div>
			<ul>
				<li ng-hide="!times[0]||searchButton.disabled" ng-repeat="x in times">
					<div>From: {{x.start | date : "dd.MM.yyyy HH:mm"}}</div>
					<div>To: {{x.end | date : "dd.MM.yyyy HH:mm"}}</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/tracker.js"></script>
</body>
</html>